<div class="settings-container">
  <h2>Settings</h2>
  <div class="setting">
    <label for="difficulty">Difficulty Level:</label>
    <select id="difficulty" name="difficulty">
      <option value="Easy" [selected]="settings.difficulty === 'Easy'">Easy</option>
      <option value="Medium" [selected]="settings.difficulty === 'Medium'">Medium</option>
      <option value="Hard" [selected]="settings.difficulty === 'Hard'">Hard</option>
    </select>
  </div>
  <div class="setting">
    <label for="time-limit">Time Limit (in Seconds):</label>
    <input type="number" id="time-limit" name="time-limit" min="0" [value]="settings.timeLimit">
  </div>
  <div class="setting">
    <label>Response Type:</label>
    <div class="radio-group">
      <input type="radio" id="multiple-choice" name="response-type" value="Multiple"
      [checked]="settings.responseType === 'Multiple'">
      <label for="multiple-choice">Multiple Choice</label>
      <input type="radio" id="free-response" name="response-type" value="Free"
      [checked]="settings.responseType === 'Free'">
      <label for="free-response">Free Response</label>
    </div>
  </div>
  <div class="setting">
    <label for="genre">Genre (Use Ctrl or Shift Click):</label>
    <select id="genre" name="genre" multiple>
      <option value="rock" [selected]="settings.genre.includes('rock')">Rock</option>
      <option value="rhythmandblues" [selected]="settings.genre.includes('rhythmandblues')">Rhythm and blues</option>
      <option value="pop" [selected]="settings.genre.includes('pop')">Pop music</option>
      <option value="country" [selected]="settings.genre.includes('country')">Country music</option>
    </select>
  </div>
  <div class="setting">
    <label>Hints:</label>
    <div  class="radio-group">
      <input type="radio" id="hints-yes" name="hints" value=true 
        [checked]="settings.hints.toString() === 'true'">
      <label for="hints-yes">Yes</label>
      <input type="radio" id="hints-no" name="hints" value=false
        [checked]="settings.hints.toString() === 'false'">
      <label for="hints-no">No</label>
    </div>

  </div>
  <div *ngIf="errorMsg">
    <p>{{ errorMsg }}</p>
  </div>
  <button id="save-settings-btn" (click)="saveSettings()">Save Settings</button>
</div>
